@font-face {
    font-family: 'IRANSansXFaNum D4';
    src: url(../fonts/IRANSansXFaNum-RegularD4.woff2) format('woff2'),
        url(../fonts/IRANSansXFaNum-RegularD4.woff) format('woff'),
        url(../fonts/IRANSansXFaNum-RegularD4.svg) format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    direction: rtl;
    font-family: 'IRANSansXFaNum D4';

}

.heading-text>h2 {
    font-size: 24px;
}

.li-hesab {
    list-style-type: none;
}

.img-nav {
    height: 70px;
}

.rtl {
    direction: rtl;
    text-align: right;
}

.circle {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #f5f7fe;
}

.navbar-toggler {
    background-color: #f5f7fe;
}

.matn-asli {
    font-size: 12px;
}

.btn1 {
    background-color: #6a89cc;
    font-size: 14px;
    width: 200px;
}

.box-btn1 {
    width: 200px;
}

.btn2 {
    font-size: 13px;
}

.desc {
    font-size: 12px;
}

.service-item {
    height: 85%;
    gap: 20px;
    flex-direction: column;
    transition: all 300ms ease 0s;
}
.service-item:hover{
border-color: #4A89CC !important;
}

.services-container {
    height: 320px;
    background-color: #fafafa;
}

.services-img {
    width: 60px;
}

.img-departeman {
    width: 45px;
}

.font-departeman {
    font-size: 12px;
}

.box-text-departeman {
    flex-direction: column;
}

.item-departeman {
    gap: 12px;
}

.doreha-box {
    gap: 10px;
}

.doreha-item {
    flex-direction: column;
}

.doreha-item:hover {
    transform: scale(1.01);
}

.doreha-item>h4 {
    font-size: 14px;
}

.item-text>p {
    font-size: 10px;
    color: #999999;
}

.doreha-item>h6 {
    font-size: 12px;
    color: #717684;
}

.doreha-item-img {
    border-top-right-radius: 50px;
}

.item-cost {
    height: 40px;
    background-color: #f4f4f4;
    bottom: 0px;
    line-height: 40px;
}

.item-cost>h5 {
    font-size: 18px;
    color: #4A89CC;
}

.rial {
    font-size: 12px;
    color: #a0a6b7
}

@media all and (min-width:992px) and (max-width:1399px) {
    .doreha-container {
        height: inherit;
    }

    .doreha-box {
        height: 520px;
        width: 90%;
    }

    .doreha-item {
        min-width: 321px;
    }

}

@media all and (min-width:1400px) {
    .doreha-container {
        height: 480px;
    }

    .doreha-box {
        height: inherit;
        width: 70%;
    }

    .doreha-item {
        min-width: 324px;
    }

}

.akhbar-heading {
    font-size: 16px;
    color: #a3b4bc;
}

.akhbar-heading::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #a3b4bc;
    display: block;
    margin-top: 10px;

}

.maghalat-heading {
    font-size: 16px;
    color: #555555;
    transition: all 300ms ease 0s;
}

.maghalat-heading::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #a3b4bc;
    display: block;
    margin-top: 10px;
    transform: scaleX(0);

}

.maghalat-heading:hover::after {
    transform: scaleX(1);
}

.maghalat-heading:hover {
    color: #a3b4bc;
    cursor: pointer;
}

.box-text-akhbar {
    width: 100%;
    height: inherit;
}

.box-text-akhbar1>h6 {
    font-size: 14px;
    color: #555555;
}

.box-text-akhbar1>p {
    font-size: 10px;
    color: #555555;
}

.box-text-akhbar1:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}

.box-text-akhbar2>h3 {
    font-size: 20px;
}

.box-text-akhbar2>p {
    font-size: 12px;
}

.box-text-akhbar3>p {
    font-size: 14px;
    color: #999999;
}

.box-text-akhbar3-btn {
    background-color: #6a89cc;
    width: 100px;
    font-size: 12px;
}

.box-text-akhbar3-btn:hover {
    border-color: white;
}

.box-moshavereh {
    background-color: #eceff1;
    height: 205px;
}

.box-moshavereh>h6 {
    font-size: 20px;
}

.moshavereh-dropdown {
    width: 250px;
    font-size: 13px;
}

.footer-container {
    background-color: #263238;
}

.footer-heading {
    font-size: 22px;
    color: white;
}

.footer-text {
    height: 250px;
}

.footer-text-all {
    width: 33%;
}

.footer-text-all>p {
    font-size: 12px;
}

.footer-text-all>ul>li>a {
    text-decoration: none;
    font-size: 12px;
}

.footer-text-all>ul {
    list-style-type: '>';
}

.footer-address>h5 {
    font-size: 14px;
}

.footer-address>p {
    font-size: 12px;
}

.namad {
    height: 80px;
    background-image: radial-gradient(white, #7e8689);
    width: 100%;
    cursor: pointer;
}

.namad:hover {
    background-image: radial-gradient(white);
}

.final-text {
    font-size: 12px;
}

@media all and (max-width:991px) {
    .footer-img {
        width: 25%;
    }

    .footer-container {
        height: 500px;
    }
    .doreha-container {
        height: inherit;
    }

    .doreha-box {
        height: 520px;
        width: 90%;
    }

    .doreha-item {
        min-width: 330px;
    }
    .item-departeman {
        width: 80%;
        margin: 10px auto;
        border: 2px solid #d6d7d8;
        border-radius: 10px;
        box-shadow: 5px 5px 5px #d6d7d8;
    }
     .service-item {
        min-width: 230px;
    }

    .services-box {
        width: 100%;
    }
}

@media all and (min-width:992px) {
    .footer-img {
        width: 50%;
    }

    .final-text {
        text-align: center;
        font-size: 16px;
    }

    .footer-text-all>p {
        font-size: 16px;
    }

    .footer-text-all>ul>li>a {
        font-size: 16px;
    }

    .footer-address>h5 {
        font-size: 16px;
    }

    .footer-address>p {
        font-size: 15px;
    }

    .footer-container {
        height: 350px;
    }
    .service-item {
        width: 20%;
    }

    .services-box {
        width: 75%;
    }
}